@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root{
    --font: "Kumbh Sans", sans-serif;

    --Darkcyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font);
    font-size: 18px;
    background: var(--Darkcyan);
    background-image: url(./images/bg-pattern-top.svg);
    background-image: url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container{
    /* border: 1px solid red; */
    border-radius: 8px;
    width: 300px;
    aspect-ratio: 1;
    margin: 10% auto;
}

.sub__container__top{
    background-image: url(./images/bg-pattern-card.svg);
    width: 300px;
    height: 150px;
    border-radius: 8px 8px 0 0;
}

.sub__container__profile{
    background-color: white;
    text-align: center;
    /* padding: 2rem 0; */
    position: relative;
}
.sub__container__profile img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    bottom: 3rem;
    border: 6px solid white;

}